<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div class="preloader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <main class="main-content" id="main">
      <section class="welcome-section" id="home-section"></section>
      <nav id="page-nav" class="main-nav">
        <!-- <a class="active-nav" href="welcome">Home</a>
        <a href="about">About</a>
        <a href="portfolio">Portfolio</a>
        <a href="contact">Contact</a> -->
      </nav>
      <section style="height: 100vh"></section>
    </main>
  </body>

</html>