<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div class="preloader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <main class="main-content" id="main">
      <section class="welcome-section" id="home-section"></section>
      <nav id="page-nav" class="main-nav"></nav>
      <section id="about-section" class="about-section page-section">
        <h2>About</h2>
        <div class="heading-separator"></div>
        <div class="profile-row">
          <div class="profile-col">
            <div class="profile-img-wrapper">
              <div class="overlay"></div>
              <div class="social-icons-wrapper">
                <a href="https://www.facebook.com/lordcndy000" class="social-icon">
                  <img src="./assets/images/social-facebook.svg" alt="social-facebook">
                </a>
                <a href="https://www.twitter.com/lordcndy000" class="social-icon">
                  <img src="./assets/images/social-twitter.svg" alt="social-twitter">
                </a>
                <a href="https://www.linkedin.com/in/lordwillm/" class="social-icon">
                  <img src="./assets/images/social-linkedin.svg" alt="social-linkedin">
                </a>
              </div>
              <img src="./assets/images/me.jpg" alt="My most awesome picture">
            </div>
            <h3>Who dat?</h3>
            <p>I'm a Front-end Web developer at Dottystyle Creative in Philippines. I have a strong passion in making the web
              pages or apps alive using various intuitive front-end techniques.</p>
          </div>
          <div class="profile-col"></div>
        </div>
      </section>
      <section style="height: 100vh"></section>
    </main>
  </body>

</html>