main {
  .main-nav {
    background-color: $colorMain;
    border-bottom: 2px solid $colorAccent;
    display: flex;
    padding: 10px 30px;
    width: 100%;
    & > a {
      color: #fff;
      font-size: 17px;
      letter-spacing: 1px;
      margin: 0 20px;
      text-decoration: none;
      text-transform: uppercase;
      &.active-nav {
        color: $colorAccent;
      }
    }
  }
}
